
 
 html, body, #root {
  height: 100%;
}
.app {
  min-height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

 body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}


header, footer {
  background-color: #dc3545;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.donor-form input,
.donor-form button {
  margin: 0.5rem;
  padding: 0.5rem;
}

.donor-list {
  margin-top: 2rem;
  padding: 1rem;
  background: white;
  border-radius: 5px;
}
/* App.css */



header, footer {
  padding: 1rem;
  text-align: center;
}



button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
}


